#species-indicators.spb {bottom: auto; top: 5px;}

#species-indicators li.active.spb {background-color: #32553F;}
#species-indicators li.spb {border: 1px solid grey;}

/*#species-carousel-inner {top:27px}*/
.species-carousel-lower {top:27px}

.species-carousel-col { margin: 0; padding-left:0; padding-right:0; }
.photo-col { padding-left:0; }

#species-nav { padding: 0; background: #477171; border-color: #477171 !important; color: #fff !important; }
.species-tab { font-size: 0.9em; padding-left: 0px; padding-right: 0px; }
/*.species-nav > li > a { color: #fff; text-transform: capitalize !important; }*/
.nav-tabs > li > a { color: #fff !important; text-transform: capitalize !important; }
.nav-tabs > li.active > a { background-color: #32553f !important } 
.nav-link > a { color: #fff !important; text-transform: capitalize !important; }
.caret { color: #fff !important; }

.species-btn { margin: 0 !important; font-size: 0.8em; padding-left: 0px; padding-right: 0px; }
.species-row { margin: 0; margin-right: 0; margin-left: 0; }

#sequence-progress {display: none;}

.photo-carousel-control.left, .photo-carousel-control.right {
    background-image: none;
	color: #ffffff;
}

#photoCarousel { background-color: #000000; }
#photo-indicators li.spb {border: 1px solid #00ffcc;}
#photo-indicators li.active.spb {background-color: #00ffcc;}


#you-uploaded { color: #00ba8a; text-align: center; vertical-align: middle; font-size: 1.4em; }

.highlighted { background-color: #b4d0d0; }

.clashing { background-color: #ffff00; }

.add-padding { padding: 0 0 1em 0; }

.add-padding-all { padding: 1em 1em 1em 1em; }

.no-padding { padding: 0 !important; }

.project-col img { width: 100%; text-align: center; }

.project-col-logo { height: 450px; width: auto !important; }

/*.progress-chart { height: 190px; }
.animals-doughnut { height: 230px; }
#animalsBarChart { height: 300px; }
.animals-bar-container { height: 280px; }*/


@media only screen and (min-width: 992px) {
	.project-title { height: 120px;}
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {

/*@media only screen and (min-width: 576px) and (max-width: 767.98px) {*/
/*@media only screen and (min-width: 768px) and (max-width: 991.98px) {*/
	.project-title h2 { font-size: 30px; }
}


@media only screen and (min-width: 992px) {
	.project-description { height: 170px;}
}

@media only screen and (min-width: 992px) {
	.subproject-title { height: 80px;}
}

@media only screen and (max-width: 992px) {
	.project-col-logo { width: 100% !important; height: auto;}
}


/*
@media only screen and (min-width: 1200px) {
	.project-title { height: 100px;}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.project-title { height: 120px;}
}
*/

.spacer-4em {
  height: 4em;
}

.spacer-3em {
  height: 3em;
}

.spacer-2em {
  height: 2em;
}

.spacer-1em {
  height: 1em;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.1s
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

#photo-container {
	padding-left: 0px;
	padding-right: 0px;
}

@media only screen and (min-width: 992px) {
	.crop-width {
		/* max-width: 1200px; /* img src width (if known) */
		/*height: 14em;*/
		height: 190px;
		overflow: hidden; 
	}
	
	.crop-height {
		/* max-width: 1200px; /* img src width (if known) */
		/*height: 14em;*/
		/*width: ??px; */
		overflow: hidden; 
	}

	img.scale {
	/* corrects inline gap in enclosing div */
	display: block;
	max-width: 100%;
	/* just in case, to force correct aspect ratio */
	height: auto !important;
	width: auto\9; /* ie8+9 */
	/* lt ie8 */
	-ms-interpolation-mode: bicubic; 
	}

	img.scale2 {
	/* corrects inline gap in enclosing div */
	display: block;
	/* in case it's narrow */
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	/* just in case, to force correct aspect ratio */
	width: auto !important;
	height: auto\9; /* ie8+9 */
	/* lt ie8 */
	-ms-interpolation-mode: bicubic; 
	}
}

.cover {
	object-fit: cover;
}

