#species-indicators.spb {bottom: auto; top: 5px;}

#species-indicators li.active.spb {background-color: #32553F;}
#species-indicators li.spb {border: 1px solid grey;}

/*#species-carousel-inner {top:27px}*/
.species-carousel-lower {top:27px}

.species-carousel-col { margin: 0; padding-left:0; padding-right:0; }
.photo-col { padding-left:0; }

#species-nav { padding: 0; background: #477171; border-color: #477171 !important; color: #fff !important; }
.species-tab { font-size: 0.9em; padding-left: 0px; padding-right: 0px; }
/*.species-nav > li > a { color: #fff; text-transform: capitalize !important; }*/
.nav-tabs > li > a { color: #fff !important; text-transform: capitalize !important; }
.nav-tabs > li.active > a { background-color: #32553f !important } 
.nav-link > a { color: #fff !important; text-transform: capitalize !important; }
.caret { color: #fff !important; }

.species-btn { margin: 0 !important; font-size: 0.8em; padding-left: 0px; padding-right: 0px; } 
/* Hancock investigations .species-btn { margin: 0 !important; font-size: 1em; padding-left: 0px; padding-right: 0px; height: 8vh; }*/
/*#control_nextseq { font-size: 1em; height: 8vh;  }*/
.species-row { margin: 0; margin-right: 0; margin-left: 0; }

#sequence-progress {display: none;}

.photo-carousel-control.left, .photo-carousel-control.right {
    background-image: none;
	color: #ffffff;
}

#classify-video { width: 100%; }
#photoCarousel { background-color: #000000; }
#photo-indicators li.spb {border: 1px solid #00ffcc;}
#photo-indicators li.active.spb {background-color: #00ffcc;}
#fullscreen-button { position: absolute; border: none; background-color: rgba(0, 0, 0, 0.4); color: white; bottom: 8px; right: 8px; z-index: 100;/*transform: translate(-50%, -50%);*/}
#fullscreen-exit-button { position: absolute; border: none; background-color: rgba(0, 0, 0, 0.4); color: white; bottom: 40px; right: 40px; z-index: 100;} /*top 680px */


:fullscreen .carousel-inner > .item > img {
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}
:-moz-full-screen .carousel-inner > .item > img {
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}:-webkit-full-screen .carousel-inner > .item > img {
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}:-ms-fullscreen .carousel-inner > .item > img {
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

 
#photoCarousel:fullscreen #fullscreen-exit-button {
  visibility: visible;
}
#photoCarousel:not(:fullscreen) #fullscreen-exit-button {
  visibility: hidden;
}
#photoCarousel:-moz-full-screen #fullscreen-exit-button {
  visibility: visible;
}
#photoCarousel:not(:-moz-full-screen) #fullscreen-exit-button {
  visibility: hidden;
}
#photoCarousel:-webkit-full-screen #fullscreen-exit-button {
  visibility: visible;
}
#photoCarousel:not(:-webkit-full-screen) #fullscreen-exit-button {
  visibility: hidden;
}
#photoCarousel:-ms-fullscreen #fullscreen-exit-button {
  visibility: visible;
}
#photoCarousel:not(:-ms-fullscreen) #fullscreen-exit-button {
  visibility: hidden;
}

#photoCarousel:fullscreen #fullscreen-button {
  visibility: hidden;
}
#photoCarousel:not(:fullscreen) #fullscreen-button {
  visibility: visible;
}
#photoCarousel:-moz-full-screen #fullscreen-button {
  visibility: hidden;
}
#photoCarousel:not(:-moz-full-screen) #fullscreen-button {
  visibility: visible;
}
#photoCarousel:-webkit-full-screen #fullscreen-button {
  visibility: hidden;
}
#photoCarousel:not(:-webkit-full-screen) #fullscreen-button {
  visibility: visible;
}
#photoCarousel:-ms-fullscreen #fullscreen-button {
  visibility: hidden;
}
#photoCarousel:not(:-ms-fullscreen) #fullscreen-button {
  visibility: visible;
}


#you-uploaded { color: #00ba8a; text-align: center; vertical-align: middle; font-size: 1.4em; }

.highlighted { background-color: #b4d0d0; }

.clashing { background-color: #ffff00; }

.add-padding { padding: 0 0 1em 0; }

.add-padding-all { padding: 1em 1em 1em 1em; }

.no-padding { padding: 0 !important; }

.project-col img { width: 100%; text-align: center; }

.project-col-logo img { height: 450px; width: auto !important; }

.image-btn { width: 100%; padding: 0; border: 0; margin: auto;}

.image-btn img { padding: 0; border: 0; margin: auto;}

.btn-projects { text-align: center;   }

#jform_profileMW_wherehear > li > a:hover, #jform_profileMW_wherehear > li > a:focus,  { background: #fff; color: #000; }

@media only screen and (min-width: 992px) {
	.project-title { height: 120px;}
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {

/*@media only screen and (min-width: 576px) and (max-width: 767.98px) {*/
/*@media only screen and (min-width: 768px) and (max-width: 991.98px) {*/
	.project-title h2 { font-size: 30px; }
}


@media only screen and (min-width: 992px) {
	.project-description { height: 170px;}
}

@media only screen and (min-width: 992px) {
	.subproject-title { height: 80px;}
}

@media only screen and (max-width: 992px) {
	.project-col-logo { width: 100% !important; height: auto;}
}


/*
@media only screen and (min-width: 1200px) {
	.project-title { height: 100px;}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.project-title { height: 120px;}
}
*/

.spacer-10em {
  height: 10em;
}

.spacer-8em {
  height: 8em;
}

.spacer-6em {
  height: 6em;
}

.spacer-4em {
  height: 4em;
}

.spacer-3em {
  height: 3em;
}

.spacer-2em {
  height: 2em;
}

.spacer-1em {
  height: 1em;
}

.spacer-3 {
  height: 3px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.1s
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

#photo-container {
	padding-left: 0px;
	padding-right: 0px;
}

@media only screen and (min-width: 992px) {
	.crop-width {
		/* max-width: 1200px; /* img src width (if known) */
		/*height: 14em;*/
		height: 190px;
		overflow: hidden; 
	}
	
	.crop-height {
		/* max-width: 1200px; /* img src width (if known) */
		/*height: 14em;*/
		/*width: ??px; */
		overflow: hidden; 
	}

	img.scale {
	/* corrects inline gap in enclosing div */
	display: block;
	max-width: 100%;
	/* just in case, to force correct aspect ratio */
	height: auto !important;
	width: auto\9; /* ie8+9 */
	/* lt ie8 */
	-ms-interpolation-mode: bicubic; 
	}

	img.scale2 {
	/* corrects inline gap in enclosing div */
	display: block;
	/* in case it's narrow */
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	/* just in case, to force correct aspect ratio */
	width: auto !important;
	height: auto\9; /* ie8+9 */
	/* lt ie8 */
	-ms-interpolation-mode: bicubic; 
	}
}

.cover {
	object-fit: cover;
}

.contain {
	object-fit: contain;
}

/* also remove scrollbars here */
/*.logos > img { height: 120px; } */
.logos > img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%; 
}
.view-kiosk  .t3-mainnav { display: none; }
.view-kiosk  .t3-footer { display: none; }
.view-kiosk  .back-to-top { display: none; }
.view-kiosk  .t3-mainbody { padding-top: 0; }
.view-kiosk  .t3-content { padding-top: 0; }
/*.view-kiosk  .t3-wrapper { overflow: hidden; }*/
/*.view-kiosk  > body { padding-top: 20px; overflow: hidden; zoom: 0.95; }*/
.view-kiosk  > body { padding-top: 15px; zoom: 0.95; overflow: hidden; object-fit: contain; }
.view-kiosk  .classify-header > h5 { margin-bottom: 3px; margin-top: 20px;}
.view-kiosk  .classify-header > h1 { color: #00BA8A; }
.view-kiosk  .classify-header > h2 { margin-top: 15px; margin-bottom: 15px; }
.view-kiosk #species_helplet > img { width: 100%; }
